<% layout('layouts/boilerplate.ejs') %>
  <body>
    <main>
      <!-- <form action="/listings/new" method="GET">
        <button>Create new</button>
      </form> -->
      <h2>All Listing</h2>
      <div class="listing-c  row row-cols-lg-3">

      <% for (let listing of allListings) { %>
      <div class="card" style="width: 18rem;">
        <img src="<%= listing.image %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= listing.title %></h5>
          <!-- <p class="card-text"><%= listing.description %></p> -->
          <p class="card-price">₹<%= listing.price %>/Per Night</p>
          
          <a href="/listings/<%= listing._id %>" class="btn btn-primary">Show More</a>
        </div>
      </div>
      <% } %>
    </div>

   
    </main>
  </body>